repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: sort-simple-yaml
      - id: check-added-large-files
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.0
    hooks:
      - id: go-fmt
      - id: go-imports
        stages: [push, merge-commit, commit]
      - id: no-go-testing
        stages: [push, merge-commit]
      - id: golangci-lint
        stages: [push, merge-commit]
      - id: go-unit-tests
        stages: [push, merge-commit]
      - id: validate-toml
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v8.0.0
    hooks:
      - id: commitlint # avaliable types are: build, ci, chore, docs, feat, fix, perf, refactor, revert, style, test
        stages: [push]
        additional_dependencies: ["@commitlint/config-conventional"]
